@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Alegreya&family=Amatic+SC&family=Black+Ops+One&family=Bodoni+Moda:opsz@6..96&family=Borel&family=Caveat&family=Chakra+Petch&family=Cinzel&family=Creepster&family=Croissant+One&family=Dancing+Script&family=Great+Vibes&family=Gruppo&family=Homemade+Apple&family=Inclusive+Sans&family=Kaushan+Script&family=Kenia&family=Lilita+One&family=Lobster+Two&family=Macondo&family=Merriweather+Sans:wght@300&family=Montserrat+Alternates&family=Patua+One&family=Permanent+Marker&family=Playfair+Display&family=Roboto+Mono&family=Satisfy&family=Special+Elite&family=Tangerine&family=Ubuntu+Condensed&display=swap');

body{
    font-family: 'Inter', sans-serif;
    height: 100%;
    margin: 0;
}

.stepper .item-step .dot{
    background-color: #D1D5DB;
    height: .5rem;
    width: .5rem;
}

.stepper .item-step-current .dot{
    background-color:  #F06A30;
    
}
.stepper .item-step{
    background: white;
    height: 1.8rem;
    width: 1.8rem;
    border: 2px solid #9CA3AF;
}

.stepper .item-step-current {
    border: 2px solid #F06A30;
}

.stepper .item-step-active{
    background: #F06A30;
    border: #F06A30;
}

.container-stepper .line{
    top: 33%;
    width: 90%;
}

.container-stepper .progress{
    top: 33%;
}

.stepper .item-step::after{
    font-weight: bold;
}

.slick-slide > div {
    margin: 0 15px;
}

.slick-list {
    margin: 0 -10px;
}